body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color:#000;
    font-family: 'Overpass';
    box-sizing: border-box;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    max-width: 310px;
    height: 400px;
    padding: 2rem;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}


.container img{
    align-self: center;

}

.texts h1{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.texts p{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}

.rating span {
    display: flex;
    background-color: hsl(216, 12%, 20%);
    color: hsl(25, 97%, 53%);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    margin: 25px;
     
}   
